<ion-header>
  <ion-toolbar>
    <ion-title>
      Department
      <ion-icon name="home" id="home" [routerLink]="['/home']"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class='depAdd'>
  <ion-fab horizontal="end" slot="fixed" [routerLink]="['/home/addDepartment']" routerLinkActive="active">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<ion-searchbar placeholder="Search Here" [(ngModel)]="searchText" (ionInput)="updateSearchResults($event)"
  showCancelButton>
</ion-searchbar>

<ion-list [hidden]="searchResults.length === 0">
  <ion-item *ngFor="let item of searchResults" tappable>
    {{item.displayName}}
  </ion-item>
</ion-list>

<div class='desContainar'>
  <table>
    <thead>
      <tr>
        <th>
          <ion-item>
            <ion-label>Department</ion-label>
          </ion-item>
        </th>
        <th>
          <ion-item>
            <ion-label>Action</ion-label>
          </ion-item>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor='let department of departments'>
        <td>
          <ion-item>
            <ion-label>{{department.name}}</ion-label>
          </ion-item>
        </td>
        <td>
          <ion-button *ngIf="department.id" [routerLink]="['/home/editDepartment',department.id]">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteDepartment(department.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>