<ion-header>
    <ion-toolbar>
        <ion-title>
            Edit Employee 
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home/employee"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<div>
  <form (ngSubmit)="updateEmployee()" [formGroup]='editEmployee'>
    <ion-item *ngIf = 'offline'>
      <ion-input type="text" placeholder = 'Employee ID'  formControlName='id' disable=true></ion-input>
    </ion-item>
    <ion-item lines="none">
        Basic Detail
      </ion-item>
        <ion-item *ngFor='let details of basicDetails'>
          <ion-input type="text" placeholder = '{{details.placeholder}}' formControlName='{{details.name}}'></ion-input>
        </ion-item>
        <ion-item >
          <ion-label position="stacked">Join Date*</ion-label>
          <ion-datetime display-format="DD/MMM/YYYY" picker-format="DD/MMM/YYYY" formControlName='startDate'  ></ion-datetime>
        </ion-item>
  
      <ion-item lines="none" >
        Contact Info
      </ion-item>
        <div formGroupName='employeeContactInfo'>
          <ion-item *ngIf = 'offline'>
            <ion-input type="text" placeholder = 'Contact ID*'  formControlName='id' disable=true></ion-input>
          </ion-item>

          <ion-item *ngFor='let details of contactDetails'>
            <ion-input type="text" placeholder = '{{details.placeholder}}'  formControlName='{{details.name}}'></ion-input>
          </ion-item>
        
          <ion-item lines="none">
            Address
          </ion-item>
          <div formGroupName='address'>
            <ion-item *ngFor='let field of address'>
              <ion-input type="text" placeholder = '{{field.placeholder}}'  formControlName='{{field.name}}'></ion-input>
            </ion-item>
          </div>
        </div>
  
      <ion-item lines="none">
        Employement Details
      </ion-item>
        <ion-item>
          <ion-select placeholder="Department Name*" formControlName='department' interface="popover">
              <ion-select-option *ngFor='let department of departments' value="{{department.id}}">{{department.displayName}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select placeholder="Designation Name*" formControlName='designation' interface="popover">
              <ion-select-option *ngFor='let designation of designations' value="{{designation.id}}" >{{designation.name}}</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item lines="none">
          Skills
        </ion-item>
        <div formArrayName="skills">
            <div *ngFor="let skillControl of editEmployee.controls.skills.controls; let i=index;" [formGroupName]="i">
              <ion-item>
                <ion-select placeholder="Skills" formControlName="skillId" [id]="'skillName'+i" interface="popover">
                  <ion-select-option *ngFor='let skill of skillsList' value="{{skill.skillId}}" >{{skill.name}}</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
        </div>    
        
          
      
    <ion-button type="submit">Edit Employee</ion-button>
    <ion-button type="reset" fill="outline">RESET</ion-button>
  </form>
</div>