<ion-header>
  <ion-toolbar>
    <ion-title>
      Skills
      <ion-icon name="home" id="home" [routerLink]="['/home']"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class='skillAdd'>
  <ion-fab horizontal="end" slot="fixed" [routerLink]="['/home/addSkill']">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<ion-searchbar placeholder="Search Here" [(ngModel)]="searchText" (ionInput)="updateSearchResults($event)"
  showCancelButton>
</ion-searchbar>

<ion-list [hidden]="searchResults.length === 0">
  <ion-item *ngFor="let item of searchResults" tappable>
    {{item.name}}
  </ion-item>
</ion-list>

<div class='skillContainar'>
  <table>
    <thead>
      <tr>
        <th>
          <ion-item>
            <ion-label>Skill</ion-label>
          </ion-item>
        </th>
        <th>
          <ion-item>
            <ion-label>Department</ion-label>
          </ion-item>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor='let skill of skills'>
        <td>
          <ion-item>
            <ion-label>{{skill.name}}</ion-label>
          </ion-item>
        </td>
        <td>
          <ion-item *ngIf='skill.department'>
            <ion-label>{{skill.department.name}}</ion-label>
          </ion-item>
        </td>
        <td>
          <ion-button [routerLink]="['/home/editSkill',skill.id]">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteSkill(skill.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>