<ion-header>
  <ion-toolbar>
    <ion-title>
      Employee 
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class='empAdd'>
  <ion-fab horizontal="end" slot="fixed" [routerLink] = "['./addEmployee']"  routerLinkActive="active">
    <ion-fab-button (click)="routeAddEmp()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<ion-searchbar placeholder="Search Here" showCancelButton></ion-searchbar>

<div class='empContainar'>
  <table>
    <thead>
      <tr>
          <th>
            <ion-item>
              <ion-label>Name</ion-label>
            </ion-item>
          </th>
          <th>
            <ion-item>
              <ion-label>Department</ion-label>
            </ion-item>
          </th> 
          <th>
            <ion-item>
              <ion-label>Designation</ion-label>
            </ion-item>
          </th> 
          <th>
            <ion-item>
              <ion-label>Project</ion-label>
            </ion-item>
          </th> 
      </tr>
    </thead>

    <tbody>
      <tr *ngFor='let employee of employees'>
        <td>
          <ion-item>
            <ion-label>{{employee.displayName}}</ion-label>
          </ion-item>
        </td>
        <td>
          <ion-item>
            <ion-label>{{employee.department.displayName}}</ion-label>
          </ion-item>
        </td>
        <td>
          <ion-item>
            <ion-label>{{employee.designation.name}}</ion-label>
          </ion-item>
        </td>
        <td>
          <ion-item *ngFor = 'let project of employee.projects'>
            <ion-label>{{project.name}}</ion-label>
          </ion-item>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>{{errorMsg}}</div>
<router-outlet></router-outlet>